:root {
    --primary-color: #4a442dff;
    --decondary-color: #386150ff;
    --accent1-color: #58b09cff;
    --accent2-color: #3d3522ff;
    ;
    --heading-font: "Poetsen One", sans-serif;
    --body-font: "Indie Flower", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

header,
main,
footer {
    width: 840px;
    margin: auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--decondary-color);
    color: white;
}

article {
    position: absolute;
    bottom: 30px;
    left: 450px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 16px;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hero article img {
    float: right;
    width: 125px;
    margin: 15px;
}