:root {
    --primary-color: #4a442dff;
    --secondary-color: #386150ff;
    --accent1-color: #58b09cff;
    --accent2-color: #3d3522ff;
    --heading-font: "Poetsen One", sans-serif;
    --body-font: "Indie Flower", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

main {
    max-width: 840px;
    margin: 0 auto;
}

h1 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: white;
}

h2 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}

p {
    padding: 0;
    margin: 16px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.hero img {
    width: 100%;
    height: auto;
}

nav {
    margin: 16px;
    padding: 8px;
}

nav ul {
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    list-style: none;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: var(--heading-font);
    font-size: 1.1rem;
    padding: 8px 12px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: var(--accent1-color);
    border-radius: 5px;
}

header {
    display: grid;
    grid-template-columns: 120px 1fr;
    margin: 1rem auto;
    padding: 10px 20px;
    align-items: center;
    border-bottom: 1px solid #ccc;
    background-color: var(--secondary-color);
}

header img {
    width: 150px;
    height: auto;
}

.hero {
    position: relative;
}

article {
    position: absolute;
    bottom: 30px;
    left: 450px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 16px;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hero article img {
    float: right;
    width: 125px;
    margin: 15px;
}

.section1 {
    display: flex;
    flex-wrap: nowrap;
}

.title-section1,
.title-section2 {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.section2 {
    overflow-x: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    gap: 16px;
    padding: 16px;
}

.section2 img {
    flex: 0 0 auto;
    width: 300px;
    height: 200px;
    object-fit: cover;
    scroll-snap-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.socialmedia a {
    text-decoration: none;
    width: 35px;
}

aside {
    margin: 16px;
    padding: 8px;
}

aside img {
    max-width: 100%;
    height: auto;
    display: block;
}

footer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.footer1 {
    grid-column: 3 / 5;
}

.footer2 {
    grid-column: 5 / 7;
}