* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    color: black;
}
main{
    display: flex;
    justify-content: center;
}

header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    text-align: center;
    color: rgb(60, 60, 243);
    margin: 1rem;
    font-size: 1.5em;
}

form {
    width: 700px;
    margin: 1px;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0 / 0.1);
    border-radius: 0.5rem;
    background-color: rgb(208, 208, 255);
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px;
    solid;
}

legend {
    padding: 1rem;
    color: navy;
    font-size: 1.3em;
}

label,
input,
button,
select,
textarea {
    font-family: "Edu QLD Hand", cursive;
}

input,
select,
textarea {
    padding: 6px;
    font-size: 1.1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}
button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: darkgreen;
}
footer{
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}
